// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// DCWW Colours
$primary-dwr-blue: #0072BC;
$primary-dwr-green: #72BF44;
$secondary-dwr-yellow: #FFCB05;
$secondary-dwr-orange: #F68B1F;
$secondary-dwr-darkblue: #0072BC;
$secondary-dwr-soft-red: #F15F56;
$secondary-dwr-purple: #6B66A4;
$secondary-dwr-pink: #CD3D96;
$secondary-dwr-bright-green: #BFD730;
$secondary-dwr-dark-green: #1A8C44;
$secondary-dwr-turquoise: #74C2BE;
